.Title-Container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Title-divider {
  border: 0;
  height: 2px;
  background: #ffffff;
  background: linear-gradient(to right, #0E4391, #A9005D);
  border-radius: 10px;
  margin-left: 50px;
  margin-right: 50px;
}

.Title-Text {
  background: #ffffff;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffffff, #A9005D);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffffff, #A9005D);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 3.8em;
  padding: 10px;
  margin: 0;
}


@media only screen and (max-width: 600px) {
  .Title-Text {
    font-size: 1.8em;
  }
}
